<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1>Admin</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
      <form id="checkout-form" name="checkoutForm" ng-submit="checkoutForm.$valid && sendcheckout(checkout)">

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3>Administer users</h3>
              </div>
              <div class="panel-body">
                      <div class="alert alert-success" ng-show="updated">
                          <strong>Success!</strong> User has been {{action}}
                      </div>
                  <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>User type</th>
                                      <th>Email address</th>
                                      <th>&nbsp;</th>
                                      <th>&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="user in allUsers">
                                      <div ng-show="showForm">
                                          <form class="form-inline">
                                              <p> Update {{user.firstName}} {{user.lastName}}</p>
                                              <input type="text" class="form-control" placeholder="First Name" ng-model="updatedUser.firstName">
                                              <input type="text" class="form-control" placeholder="Last Name" ng-model="updatedUser.lastName">
                                              <input type="text" class="form-control" placeholder="Email">
                                              <input type="text" class="form-control" placeholder="Type">
                                              <input type="text" class="form-control" placeholder="Address">
                                              <input type="text" class="form-control" placeholder="Zip">
                                              <input type="text" class="form-control" placeholder="Borough">
                                              <input type="text" class="form-control" placeholder="Phone">
                                              <input type="text" class="form-control" placeholder="Picture Url">
                                              <h5>For chefs only</h5>
                                              <input type="text" class="form-control" placeholder="Specialty">
                                              <input type="text" class="form-control" placeholder="Bio">
                                              <button type="button" class="btn btn-submit" ng-click="updateUser(user, updatedUser)">Submit</button>
                                          </form>
                                      </div>  <!-- ng-show="showUpdateForm"  --> 
                                      <td><a ui-sref="account({id: user._id})">{{user.firstName}}  {{user.lastName}}</a></td>
                                      <td>{{userType(user)}}</td>
                                      <td>{{user.email}}</td>
                                      <td><button type="button" class="btn btn-primary" ng-click="showUpdateForm()">Update User</button></td>
                                      <td><button type="button" class="btn btn-primary" ng-click="assignAdmin(user)">Manage Admin</button></td>
                                      <td><button type="button" class="btn btn-danger" ng-click="removeUser(user)">Remove User</button></td>
                                  </tr>
                              </tbody>

                          </table>
                      </div>


                      </div>
                  </div>

      </form>
      </div>

    </div>
</div>