<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1>Admin</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
      <form id="checkout-form" name="checkoutForm" ng-submit="checkoutForm.$valid && sendcheckout(checkout)">

          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3>Administer users</h3>
              </div>
              <div class="panel-body">
                      <div class="alert alert-success" ng-show="updated">
                          <strong>Success!</strong> User has been {{action}}
                      </div>
                  <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>User type</th>
                                      <th>Email address</th>
                                      <th>&nbsp;</th>
                                      <th>&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="user in allUsers">
                                      <div ng-show="showForm">
                                          <form class="form-inline">
                                            <div class="row">
                                              <div class="col-lg-12">
                                                <p> Update {{user.firstName}} {{user.lastName}}</p>
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="{{user.firstName}}" ng-model="updatedUser.firstName">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Last Name" ng-model="updatedUser.lastName">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Email">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Type">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Address">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Zip">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Borough">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Phone">
                                              </div>
                                              <div class="col-lg-6">
                                                <input type="text" class="form-control" value="Picture Url">
                                              </div>
                                              <div class="col-lg-12">
                                                <h5>For chefs only</h5>
                                              </div>
                                              <div class="col-lg-12">
                                                <input type="text" class="form-control" value="Specialty">
                                              </div>
                                              <div class="col-lg-12">
                                                <input type="text" class="form-control" value="Bio">
                                               </div>
                                              <div class="col-lg-12">  
                                                <button type="button" class="btn btn-submit" ng-submit="updateUser(user, updatedUser)">Submit</button>
                                              </div>
                                            </div> <!-- class="row" -->
                                          </form>
                                      </div>  <!-- ng-show="showUpdateForm"  --> 
                                      <td><a ui-sref="account({id: user._id})">{{user.firstName}}  {{user.lastName}}</a></td>
                                      <td>{{userType(user)}}</td>
                                      <td>{{user.email}}</td>
                                      <td><button type="button" class="btn btn-primary" ng-click="showUpdateForm()">Update User</button></td>
                                      <td><button type="button" class="btn btn-primary" ng-click="assignAdmin(user)">Manage Admin</button></td>
                                      <td><button type="button" class="btn btn-danger" ng-click="removeUser(user)">Remove User</button></td>
                                  </tr>
                              </tbody>

                          </table>
                      </div>


                      </div>
                  </div>

      </form>
      </div>

    </div>
</div>