<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Account</h1>
            <small>Welcome, {{user.firstName}}!</small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Account information </h3>
                </div>
                <div class="panel-body">
	                <div class="form-group">
	                    <label>Your name:</label>
	                    <p class="form-control-static">{{user.firstName}} {{user.lastName}}</p>
	                </div>
	                <div class="form-group">
	                    <label>Your email:</label>
	                    <p class="form-control-static">{{user.email}}</p>
	                </div>
	                <div class="form-group">
	                    <label>User ID:</label>
	                    <p class="form-control-static">{{user._id}}</p>
	                </div>	                
	                <div class="form-group">
	                    <label>Address</label>
	                    <p class="form-control-static">{{user.homeAddress}}</p>
	                </div>
	                <div class="form-group">
	                    <label>Phone number</label>
	                    <p class="form-control-static">{{user.phone}}</p>
	                </div>	
	                <div ng-if="isChef()" class="form-group">
	                    <label>Cuisine specialty</label>
	                    <p class="form-control-static">{{user.specialty}}</p>
	                </div>	
	                <div ng-if="isChef()" class="form-group">
	                    <label>Bio</label>
	                    <p class="form-control-static">{{user.bio}}</p>
	                </div>	   
	                <div ng-if="isChef()" class="form-group">
	                    <label>Picture</label>
	                    <p class="form-control-static">{{user.picture}}</p>
	                </div>             		                                		                
                </div>
            </div>
        </div>

        <div class="col-lg-8">
        	<div class="panel panel-default">
	        	<div class="panel-heading"><h3>Your Transactions</h3></div>
	        	<div class="panel-body" ng-repeat="transaction in allTransactions | orderBy : 'status'">
	        		<h4>Order date: {{transaction.date | date}}</h4>
	        		<h4>Status: {{transaction.status }}</h4>
	                <div class="table-responsive table-bordered">
	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th>Meal</th>
	                                <th>Price</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="meal in transaction.meals">
		                            <td><a ui-sref="meal({id: meal._id})"> {{meal.name}}</a></td>
	                                <td>{{meal.price | currency }}</td>
                                    <td><button type="submit" class="btn btn-default btn-primary" ng-show="isRatable(transaction.status, meal._id)" ui-sref="addRating({id: meal._id})">Rate this meal!</button></td>
                                    <td ng-show="!isRatable(transaction.status, meal._id) && transaction.status==='Delivered'">You already gave this a {{ratingNum(meal._id)}} star rating!</td>
	                            </tr>

	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
        </div>

        </div> <!-- close row -->

        <div class="row">

	        <div class="col-lg-12">
	        	<div class="panel panel-default">
		        	<div class="panel-heading"><h3>Add a new meal</h3></div>
		        	<div class="panel-body" >

		                <form>

		                <div class="row">
			                <div class="col-lg-4">
								<div class="form-group">
		                            <label for="chefmeal">Meal Name</label>
		                            <input class="form-control" placeholder="Enter meal name">
		                        </div>
		                    </div>
			                <div class="col-lg-4">
								<div class="form-group">
		                            <label for="chefmeal">Meal Photo</label>
		                            <input class="form-control" placeholder="Enter meal URL, beginning with http://">
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                       <div class="form-group">
		                            <label for="chefmeal">Qty Avail.</label>
		                            <input class="form-control" placeholder="Enter quantity available">
		                        </div>
		                    </div>
		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label for="chefmeal">Price</label>
		                            <input class="form-control" placeholder="Enter price">
		                        </div>
		                    </div>
	                    </div>
		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="form-group">
		                            <label for="chefmeal">Meal Description</label>
		                            <textarea class="form-control" rows="4" placeholder="Enter description"></textarea>
		                        </div>
	                        </div>
	                    </div>
						<button type="submit" class="btn btn-default btn-primary">Add meal</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-lg-12">
	        	<div class="panel panel-default">
		        	<div class="panel-heading"><h3>Edit an Existing Meal</h3></div>
		        	<div class="panel-body" >
						<div class="panel-group" id="accordion">
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">Lasagna</a>
			                        </h4>
			                    </div>
			                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
			                        <div class="panel-body">
						                <form>
						                	<div class="row">
								                <div class="col-lg-4">
													<div class="form-group">
							                            <label for="chefmeal">Meal Name</label>
							                            <input class="form-control" placeholder="Lasagna">
							                        </div>
							                    </div>
								                <div class="col-lg-4">
													<div class="form-group">
							                            <label for="chefmeal">Meal Photo</label>
							                            <input class="form-control" placeholder="http://www.cookingclassy.com/wp-content/uploads/2013/03/lasagna15-480x320.jpg">
							                        </div>
							                    </div>

							                    <div class="col-lg-2">
							                       <div class="form-group">
							                            <label for="chefmeal">Qty Avail.</label>
							                            <input class="form-control" placeholder="8">
							                        </div>
							                    </div>
							                    <div class="col-lg-2">
							                        <div class="form-group">
							                            <label for="chefmeal">Price</label>
							                            <input class="form-control" placeholder="12">
							                        </div>
							                    </div>
							                </div>

						                <div class="row">
						                    <div class="col-lg-12">
						                        <div class="form-group">
						                            <label for="chefmeal">Meal Description</label>
						                            <textarea class="form-control" rows="4">Insert text from DB here</textarea>
						                        </div>
					                        </div>
					                    </div>
										<button type="submit" class="btn btn-success">Update meal</button>
										</form>
				                    </div>
				                </div>
			                </div>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">Steak Dinner</a>
			                        </h4>
			                    </div>
			                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
			                        <div class="panel-body">
					                	<form>
					                	<div class="row">
							                <div class="col-lg-4">
												<div class="form-group">
						                            <label for="chefmeal">Meal Name</label>
						                            <input class="form-control" placeholder="Steak dinner">
						                        </div>
						                    </div>
							                <div class="col-lg-4">
												<div class="form-group">
						                            <label for="chefmeal">Meal Photo</label>
						                            <input class="form-control" placeholder="http://www.cookingclassy.com/wp-content/uploads/2013/03/lasagna15-480x320.jpg">
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                       <div class="form-group">
						                            <label for="chefmeal">Qty Avail.</label>
						                            <input class="form-control" placeholder="12">
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="form-group">
						                            <label for="chefmeal">Price</label>
						                            <input class="form-control" placeholder="18">
						                        </div>
						                    </div>
					                    </div>
						                <div class="row">
						                    <div class="col-lg-12">
						                        <div class="form-group">
						                            <label for="chefmeal">Meal Description</label>
						                            <textarea class="form-control" rows="4">Insert text from DB here</textarea>
						                        </div>
					                        </div>
					                    </div>
										<button type="submit" class="btn btn-success">Update meal</button>

						                </form>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">Tofu surprise</a>
			                        </h4>
			                    </div>
			                    <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
			                        <div class="panel-body">
						                	<form>
					                	<div class="row">
							                <div class="col-lg-4">
												<div class="form-group">
						                            <label for="chefmeal">Meal Name</label>
						                            <input class="form-control" placeholder="Tofu surprise">
						                        </div>
						                    </div>
							                <div class="col-lg-4">
												<div class="form-group">
						                            <label for="chefmeal">Meal Photo</label>
						                            <input class="form-control" placeholder="http://www.cookingclassy.com/wp-content/uploads/2013/03/lasagna15-480x320.jpg">
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                       <div class="form-group">
						                            <label for="chefmeal">Qty Avail.</label>
						                            <input class="form-control" placeholder="15">
						                        </div>
						                    </div>
						                    <div class="col-lg-2">
						                        <div class="form-group">
						                            <label for="chefmeal">Price</label>
						                            <input class="form-control" placeholder="9">
						                        </div>
						                    </div>
					                    </div>
						                <div class="row">
						                    <div class="col-lg-12">
						                        <div class="form-group">
						                            <label for="chefmeal">Meal Description</label>
						                            <textarea class="form-control" rows="4">Some delicious food to be eaten</textarea>
						                        </div>
					                        </div>
					                    </div>
										<button type="submit" class="btn btn-success">Update meal</button>

						                </form>

			                        </div>
			                    </div>
			                </div>
			            </div>



                      
          <div class="row">

	        <div class="col-lg-12">
	        	<div class="panel panel-default">
		        	<div class="panel-heading"><h3>Show All Ratings</h3></div>
		        	<div class="panel-body" >

		                <form>
                          <div class="table-responsive table-bordered">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Meal</th>
                                        <th>Rating</th>
                                        <th>Rating Text</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rating in allRatings">
                                        <td><a ui-sref="meal({id: rating.meal._id})"> {{rating.meal.name}}</a></td>
                                        <td>{{ rating.rating }}</td>
                                        <td>{{ rating.ratingText }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


						</form>
					</div>
				</div>
			</div>
		</div>






	            </div>
	        </div>
	    </div>
    </div>
</div>
