<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Account</h1>
            <small>Welcome, {{user.firstName}}!</small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Account information </h3>
                </div>
                <div class="panel-body">
	                <div class="form-group">
	                    <label>Your name:</label>
	                    <p class="form-control-static">{{user.firstName}} {{user.lastName}}</p>
	                </div>
	                <div class="form-group">
	                    <label>Your email:</label>
	                    <p class="form-control-static">{{user.email}}</p>
	                </div>
	                <div class="form-group">
	                    <label>User ID:</label>
	                    <p class="form-control-static">{{user._id}}</p>
	                </div>	                
	                <div class="form-group">
	                    <label>Address</label>
	                    <p class="form-control-static">{{user.homeAddress}}</p>
	                </div>
	                <div class="form-group">
	                    <label>Phone number</label>
	                    <p class="form-control-static">{{user.phone}}</p>
	                </div>		                		                
                </div>
            </div>
        </div>
        <div class="col-lg-8">
        	<div class="panel panel-default">
	        	<div class="panel-heading"><h3>Transactions in progress</h3></div>
	        	<div class="panel-body" ng-repeat="transaction in allTransactions">
	        		<h4>Order date: {{transaction.date | date}}</h4>
	                <div class="table-responsive table-bordered">
	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th>Meal</th>
	                                <th>Price</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="meal in transaction.meals">
		                            <td><a ui-sref="meal({id: meal._id})"> {{meal.name}}</a></td>
	                                <td>{{meal.price | currency }}</td>
	                            </tr>

	                        </tbody>
	                    </table>
                    </div>
                </div>
            </div>
        	<div class="panel panel-default">
	        	<div class="panel-heading"><h3>Past transactions</h3></div>
	        	<div class="panel-body">
	        		<h4>Order date: January 12, 2016</h4>
		            <div class="table-responsive table-bordered">
	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th>Meal</th>
	                                <th>Price</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>Oatmeal</td>
	                                <td>4</td>
	                            </tr>
	                            <tr>
	                                <td>Chicken casserole</td>
	                                <td>8</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>

                </div>
            </div>
        </div>
    </div>
</div>
