<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Browse by Cuisine</p>
            <div class="form-group">
                <label>Selects</label>
                <select class="form-control"  ng-model="cuisine">
                    <option ng-repeat="cuisine in cuisines">{{cuisine}}</option>
                </select>
            </div>

            <p class="lead">Browse by Diet</p>
            <div class="form-group">
                <label>Selects</label>
                <select class="form-control" ng-model="diet">
                    <option ng-repeat="diet in diets">{{diet}}</option>
                </select>
            </div>

            <p class="lead">Browse by Rating</p>
                <div class="form-group">
                    <label>Selects</label>
                    <select class="form-control">
                        <option ng-repeat="rating in ratings">{{rating}}</option>
                    </select>
                </div>
                <input type="submit" class="btn" value="Submit"  ng-click="updateMeals()">
                <input type="submit" class="btn" value="Reset"  ng-click="resetMeals()">
        </div> <!-- class="col-md-3" -->




        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>          
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="https://static.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://static.pexels.com/photos/6461/food-plate-rucola-salad.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://static.pexels.com/photos/6431/food-sweet-cake-glace-icing.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">



                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="meal in allMeals">
                    <div class="thumbnail">
                      <img src= {{meal.photo}} ui-sref="meal({id: meal._id})" alt="">
                        <div class="caption">
                            <h4 class="pull-right"> ${{meal.price }}.00 </h4>
                            <h4><a ui-sref="meal({id: meal._id})"> {{meal.name}} </a>
                            </h4>
                            <p>Cuisine: {{ meal.cuisine }}</p>
                            <p>{{ meal.description }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">12 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                        <div class="panel-body">
                           <a class="btn btn-primary" target="_blank" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>





        

            </div>

        </div> <!-- class="col-md-9" -->

    </div> <!-- class="row" -->

</div>
<!-- /.container -->

